@import "tailwindcss";

@theme inline {
  --color-on-primary-container: #dad7ff;
  --color-inverse-primary: #c3c0ff;
  --color-tertiary-container: #a44100;
  --color-on-background: #191c1e;
  --color-surface-variant: #e0e3e5;
  --color-tertiary-fixed: #ffdbcc;
  --color-primary-container: #4f46e5;
  --color-surface: #f7f9fb;
  --color-secondary-fixed-dim: #ffb0cd;
  --color-on-primary: #ffffff;
  --color-error-container: #ffdad6;
  --color-tertiary-fixed-dim: #ffb695;
  --color-on-secondary: #ffffff;
  --color-surface-container: #eceef0;
  --color-inverse-surface: #2d3133;
  --color-primary-fixed: #e2dfff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-dim: #d8dadc;
  --color-outline: #777587;
  --color-on-primary-fixed: #0f0069;
  --color-surface-container-highest: #e0e3e5;
  --color-on-surface: #191c1e;
  --color-surface-bright: #f7f9fb;
  --color-error: #ba1a1a;
  --color-on-tertiary-fixed-variant: #7b2f00;
  --color-tertiary: #7e3000;
  --color-on-error-container: #93000a;
  --color-primary-fixed-dim: #c3c0ff;
  --color-on-tertiary-fixed: #351000;
  --color-outline-variant: #c7c4d8;
  --color-on-tertiary-container: #ffd2be;
  --color-on-secondary-fixed: #3e0022;
  --color-inverse-on-surface: #eff1f3;
  --color-surface-tint: #4d44e3;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-container: #600037;
  --color-on-primary-fixed-variant: #3323cc;
  --color-on-secondary-fixed-variant: #8c0053;
  --color-on-surface-variant: #464555;
  --color-secondary-fixed: #ffd9e4;
  --color-on-error: #ffffff;
  --color-background: #f7f9fb;
  --color-secondary: #b4136d;
  --color-surface-container-high: #e6e8ea;
  --color-secondary-container: #fd56a7;
  --color-surface-container-lowest: #ffffff;
  --color-primary: #3525cd;

  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --spacing-container-max: 1280px;
  --spacing-gutter: 1rem;
  --spacing-margin-mobile: 0.75rem;
  --spacing-stack-sm: 0.25rem;
  --spacing-section-padding: 2rem;
  --spacing-section-padding-md: 3rem;
  --spacing-margin-desktop: 1.5rem;
  --spacing-stack-md: 1rem;
  --spacing-stack-lg: 2rem;

  --font-headline-md: "Outfit", sans-serif;
  --font-body-md: "Inter", sans-serif;
  --font-headline-xl-mobile: "Outfit", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-headline-lg-mobile: "Outfit", sans-serif;
  --font-headline-lg: "Outfit", sans-serif;
  --font-caption: "Inter", sans-serif;
  --font-label-md: "Inter", sans-serif;
  --font-headline-xl: "Outfit", sans-serif;

  --text-headline-md: 18px;
  --text-headline-md--line-height: 1.2;
  --text-headline-md--font-weight: 600;

  --text-body-md: 13px;
  --text-body-md--line-height: 1.4;
  --text-body-md--font-weight: 400;

  --text-headline-xl-mobile: 24px;
  --text-headline-xl-mobile--line-height: 1.1;
  --text-headline-xl-mobile--font-weight: 700;

  --text-body-lg: 14px;
  --text-body-lg--line-height: 1.4;
  --text-body-lg--font-weight: 400;

  --text-headline-lg-mobile: 20px;
  --text-headline-lg-mobile--line-height: 1.1;
  --text-headline-lg-mobile--font-weight: 600;

  --text-headline-lg: 24px;
  --text-headline-lg--line-height: 1.1;
  --text-headline-lg--letter-spacing: -0.01em;
  --text-headline-lg--font-weight: 600;

  --text-caption: 11px;
  --text-caption--line-height: 1.2;
  --text-caption--font-weight: 500;

  --text-label-md: 12px;
  --text-label-md--line-height: 1;
  --text-label-md--letter-spacing: 0.01em;
  --text-label-md--font-weight: 600;

  --text-headline-xl: 32px;
  --text-headline-xl--line-height: 1.1;
  --text-headline-xl--letter-spacing: -0.01em;
  --text-headline-xl--font-weight: 700;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body-md selection:bg-secondary-container selection:text-on-secondary-container;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white dark:bg-inverse-surface/5 border border-outline-variant/30 shadow-sm transition-all p-4;
  }
}
